<!DOCTYPE html>

{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load django_bootstrap5 %}

    {% bootstrap_css %}

    <title>{% trans "Task manager Hexlet" %}</title>
</head>
<body class="d-flex flex-column min-vh-100" text="Вход">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">{% trans "Task manager" %}</a></li>
                    <li><a href="{% url 'users' %}" class="nav-link px-2 text-white">{% trans "Users" %}</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'statuses' %}" class="nav-link px-2 text-white">{% trans "Statuses" %}</a></li>
                        <li><a href="{% url 'labels' %}" class="nav-link px-2 text-white">{% trans "Labels" %}</a></li>
                        <li><a href="{% url 'tasks' %}" class="nav-link px-2 text-white">{% trans "Tasks" %}</a></li>
                    {% endif %}
                </ul>
        
                <div class="text-end">
                    {% if user.is_authenticated %}
                        <span class="text-white me-2">{{ user.username }}</span>
                        <a href="{% url 'logout' %}" class="btn btn-outline-light me-2">{% trans "Logout" %}</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-outline-light me-2">{% trans "Log In" %}</a>
                        <a href="{% url 'user_create' %}" class="btn btn-primary">{% trans "Registration" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>


    {% bootstrap_messages %}


    <div class="wrapper flex-grow-1">
        {% block content %}

        {% endblock content %}
    </div>
    
    {% block footer %}
    {% load static %}

    <div class="b-example-divider"></div>
    
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="https://ru.hexlet.io" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">{% trans "Hexlet" %}</a>
            </div>
    
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/hexlethq/"><img src="{% static 'img/instagram.png' %}" alt="inst" width="24" height="24"></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/Hexlet"><img src="{% static 'img/facebook.png' %}" width="24" height="24"></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://t.me/hexlet_ru"><img src="{% static 'img/telegram.png' %}" width="24" height="24"></a></li>
            </ul>
        </footer>
    </div>

    {% endblock footer %}

    {% bootstrap_javascript %}
</body>
</html>